# macOS System Files
.DS_Store

# Java / JavaFX Build Files
*.class
bin/
out/
*.log

# Serialized user data (auto-created on first run)
JavaFX_Desktop_Version/data/users/*.dat

# Android Studio Files
*.iml
.idea/
.gradle/
local.properties
captures/

# Android build output
Android_Mobile_Version/app/build/
Android_Mobile_Version/build/
Android_Mobile_Version/.android/